.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  color: #fff;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Merriweather", serif;
  transition: all 0.5s ease;
  min-width: 376px;
}

.home.dark {
  background-image: url("https://images.unsplash.com/photo-1523895665936-8d1b0efc123f");
  background-color: #0d0d0d;
  height: 82vh;
}

.home.light {
  background-image: url("https://img.freepik.com/free-photo/international-day-education-scene-with-fantasy-style_23-2151040342.jpg");
  background-color: #f4f4f4;
  color: #000000;
  text-shadow: -2px 0px white;
  height: 82vh;
}

.home h1 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  color: #fff;
}

.home p {
  font-size: 1rem;
  margin: 0.5rem 0 2rem;
  max-width: 700px;
  line-height: 1.6;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.quote {
  margin-top: 2rem;
  font-size: 1rem;
  font-style: italic;
  color: gold;
  text-shadow: 4px -2px #003e2e;
}

.author {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  opacity: 0.7;
}

@media (min-width: 480px) {
  .home {
    padding: 20px;
  }

  .home h1 {
    font-size: 2.2rem;
  }

  .home p,
  .quote {
    font-size: 1.2rem;
  }

  .author {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .home h1 {
    font-size: 4rem;
  }

  .home p,
  .quote {
    font-size: 1.5rem;
  }

  .author {
    font-size: 1.2rem;
  }
}
